<form action="/recipes" method="post">
    <li><label for="name">Recipe Name</label>
    <input type="text" id="name" name="name" />

   <li> <label for="ingredients">Ingredients</label>
    <input type="text" id="ingredients" name="ingredients" />

   <li> <label for="name">Cook Time</label>
    <input type="text" id="cook_time" name="cook_time" />
    <input type="submit" value="Create Recipe!" />
</form>